@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --borders: rgb(0, 0, 0);
    --bgSquare: rgba(234, 230, 230, 0.925);
    --bgImage:url(https://img.freepik.com/free-vector/comic-bright-elements-seamless-pattern_225004-804.jpg?w=740)
}
html{
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    font-family: 'Indie Flower', cursive;
}
.pageWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    background-color:aliceblue;
    background-image: var(--bgImage);
    background-size: cover;
    height: 100vh;
}


.gameWrapper{
    border: 10px solid var(--borders);
    width: 100%;
    max-width: 400px;
    height: 70%;
    max-height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--bgSquare);
}

.gameWrapper>div{
    border: 3px solid var(--borders);
    color: var(--borders);
    width: calc(100%/3);
    height: calc(100%/3);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
}

.overlay{
    background-color: black;
    height: 100vh; width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.start{
    background-color: var(--borders);
    color: aliceblue;
    height: 80vh;
    width: 90vw;
    max-width: 400px;
    border-radius: 2em;
    position: absolute; top:50%; left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 1em;
    text-align: center;
}

.start>div{
    padding: 0.3em;
    margin: 0.3em
}

.start h1{
    padding: 0.5em;
}

input{
    padding: 0.3em;
    border: none;
    border-radius: 0.3em;
    width: 100%;
}

label{
    text-align: center;
    display: block;
}

.d-none{
    display: none !important;
}

button{
    padding: 1em;
    width: 60%;
    border-radius: 0.5em;
    border:none;
    margin: 1em auto;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

.title{
    width: 100vw;
    text-align: center;
    background-color: rgb(239, 232, 232);
    padding: 0.5em;
    margin-bottom: 30px;
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
}